<!-- 头部部分 -->
<include file="layout/header" />
<!--头部结束-->

<!-- 上中下部分 -->
<include file="layout/szx_layout" />
<style type="text/css">
    .c-more{
        max-width: 100%;
    }
</style>
<!--中部内容-->
    <div class="wrap">
        <div class="site-content">
            <!--栏目标题-->
            <div class="column cloz">
                <img src="__IMG__/img/d_title.jpg">
            </div>
            <!--内容列表-->
            <div class="list_box pt70">
                <ul class="list-ul clearfix list_finearticle">
                    <volist  name="info" id="vo">
                        <li>
                            <a href="{:U('Choiceness/choice_details')}?id={$vo.id}" target="_blank">
                                <div class="img"><img src="{$vo.cover_img}"></div>
                                <p class="c-tit">
                                    <?php if($vo['pname']){ ?>
                                        <span class="w_cname __web-inspector-hide-shortcut__">{$vo.pname}</span>
                                        <span class="ejfl_name">{$vo.cname}</span>
                                    <?php }else{ ?>
                                        <span class="w_cname __web-inspector-hide-shortcut__">{$vo.cname}</span>
                                        <span class="ejfl_name"></span>
                                    <?php } ?>
                                </p>
                                <div class="yc_h"><p class="c-text">{$vo.intro}</p></div>
                            </a>
                        </li>
                    </volist>
                </ul>
                <div class="c-more mb140"><a bid="{:I('p', 1)}" class="finearticle_more" href="javascript:;" >MORE</a></div>
            </div>
        </div>
    </div>
</div>
<!--中部内容end-->
<!-- 左边菜单部分 -->
<include file="layout/left_menu" />

<!-- 登录注册部分 -->
<include file="layout/login" />

<!-- 尾部部分 -->
<include file="layout/footer" />

<!-- 尾部js部分 -->
<include file="layout/footer_js" />
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: "{:U('Public/VerCode?type=pc&t=" + (new Date()).getTime() + "')}", // 加随机数防止缓存
            type: "get",
            dataType: "json",
            success: function (data) {
                // 使用initGeetest接口
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "float",
                offline: !data.success
                }, handlerEmbed);
            }
        });

        var handlerEmbed = function (captchaObj) {
            // 将验证码加到id为captcha的元素里
            captchaObj.appendTo("div#embed-captcha");
            captchaObj.onReady(function () {
                $("#embed-wait").hide();
            });
        };
    });
    coSense.loader.init(false); 
     coSense.loader.toFooter();

    proing();
    $(function(){ 
        var type = {:I('type', 0)};

        $("a.finearticle_more").on('click',function(){
            var html = "";
            var bid =  parseInt($(this).attr("bid"));
            bid += 1;
            $(this).attr("bid",bid);
            type = parseInt(type);
            
            $.post("{:U('Choiceness/choice')}",{type:type, p:bid, r_type: 1},function(r){
                if(r.length == 0){
                    $.Prompt('没有更多作品了');
                }else{
                    $.each(r,function(ind,val){
                        html +='<li>\
                                <a href="{:U("Choiceness/choice_details")}?id='+val.id+'">\
                                    <div class="img"><img src="'+val.cover_img+'"></div><p class="c-tit">';
                        if(val.pname != '') {
                            html += '<span class="w_cname __web-inspector-hide-shortcut__">'+val.pname+'</span><span class="ejfl_name">'+val.cname+'</span><p class="c-tit">'
                        }else{
                            html += '<span class="w_cname __web-inspector-hide-shortcut__">'+val.cname+'</span><span class="ejfl_name"></span><p class="c-tit">'
                        }

                        html +=   '</p><div class="yc_h"><p class="c-text">'+val.intro+'</p></div>\
                                </a>\
                            </li>';
                    })
                    $("ul.list_finearticle").append(html);
                }        
            },'json')
        });
    });
</script>
</html>
                                