<!-- 头部部分 -->
<include file="layout/header" />


<!-- 上中下部分 -->
<include file="layout/szx_layout" />
<!--中部-->
<div class="wrap">
            <div class="about-content">
                            <div class="abu_tabbtn js_abu_tabBtn"></div>
                <div class="js_contentModAbout">
                            <div class="abu_mod1 scrollBox">
                                            <div class="abu_video" style="height: auto;">
                                                <img src="__IMG__/about_video.png" width="100%" height="100%">
                                            </div>
                            </div>
                            <div class="abu_mod2 scrollBox">
                                <div class="abu_mod2_c">
                                    <div class="mga_1220 clearfix">
                                        <div class="fl tit_img">
                                            <img src="__IMG__/abu_title1.png">
                                        </div>
                                        <div class="fl w-pd295">
                                            <div class="op">
                                                co-sense是可视创想旗下的首个互联网产品，致力于打造一个新青年创意互动平台。为新青年人群提供一个聚集艺术交流与设计分享的高质量社群，帮助创意工作者在互联网上找到全球创意灵感与认识到与自己兴趣相投的人，再在真实世界里相遇。
                                            </div>
                                            <div class="op">
                                                co-sense可以帮助线下的创意工作者在线上通过专属的平台推广对自己的作品以及爱好进行发布，且能够通过线上结识更多的爱好者，形成一个专属于自己的互动圈。并且可以通过co-sense线下活动聚集在一起，让更多的潜在创意爱好人群能够通过co-sense打开更多的创意世界。
                                            </div>
                                            <div class="op">
                                                我们的平台分为：<span style="color: #f8b62d">可看 (collection) / 可享 (original) ／ 可玩 (activity) ／ co-sense自频道 (co-channels)</span>，我们将全球采集的精彩创意内容、展示创意人士的高质量原创作品、汇聚新青年创意活动资讯以及玩出co-sense的跨界创意计划与实验性创意项目。
                                            </div>
                                            <div class="op">
                                                <span style="color: #f8b62d">可看 (collection)</span>——采集全球的精彩创意内容，呈现出有创意、有意思、有想法的灵感内容，通过平台即可阅览到全球的创意内容发生。
                                            </div>
                                            <div class="op">
                                                <span style="color: #f8b62d">可享 (original)</span>——发布高质量的创意作品内容，将最优质的原创视觉作品展示出来，传递个人的创意风格以及创意方式。
                                            </div>
                                            <div class="op">
                                                <span style="color: #f8b62d">可玩 (activity)</span>——将全球的创意相关活动聚集在此，将最新最in的活动信息展示出来，让用户能够直接获取创意内容相关的活动资讯，更为垂直地展示社群的活动因子。
                                            </div>
                                            <div class="op">
                                                <span style="color: #f8b62d">co-sense自频道（co-channels）</span>——汇聚平台上的创意先锋的创意想法，通过不同的方式去实现它，用更好的方式去呈现创意力量。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="abu_mod2 scrollBox">
                                <div class="abu_mod3_c">
                                    <div class="mga_1220 clearfix">
                                        <div class="fl tit_img">
                                            <img src="__IMG__/abu_title2.png">
                                        </div>
                                        <div class="fl w-pd355">
                                            <span class="x-text nth1">CO-SENSE  可视创想 (成都) 文化传播有限公司</span>
                                            <span class="x-text">成都市高新区 － 天府新谷10号楼18</span><br>
                                            <span class="x-text nth1">联系电话：028-88888888</span>
                                            <span class="x-text">联系邮箱：company@co-sense.cn</span><br>
                                            <span class="x-text">商务合作：86+13980858524</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="abu_mod2 scrollBox">
                                        <div class="abu_mod3_c">
                                            <div class="mga_1220 clearfix">
                                                <div class="fl tit_img">
                                                    <img src="__IMG__/abu_title3.png">
                                                </div>
                                                <div class="fl w-pd255">
                                                    <div class="op">
                                                        欢迎向CO-SENSE投稿，CO-SENSE是一个自由的平台，我们接受一切有创意、好玩的新鲜事和人,如果您的身边有符合我们内容的事和人，请和我们联系；投稿一旦采用，我们将以特别的方式回报给投稿人。
                                                    </div>
                                                    <div class="op">
                                                        向CO-SENSE投稿，您可以通过下面联系方式联系到我们，投稿可以只是一个线索，也可以是您作为自由撰稿人编辑的完整的内容，如果您是自由撰稿人，请以文字+图片+视频(非必选）的内容方式提供给我们。
                                                    </div>
                                                    <span class="x-text nth1">邮箱募稿：company@co-sense.cn</span>
                                                    <span class="x-text">微信募稿：Cosense新青年</span><br>
                                                    <span class="x-text nth1">微博募稿：@co-sense</span>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="abu_mod2 scrollBox">
                                        <div class="abu_mod3_c">
                                            <div class="mga_1220 clearfix">
                                                <div class="fl tit_img">
                                                    <img src="__IMG__/abu_title4.png">
                                                </div>
                                                <div class="fl w-pd255">
                                                    <div class="op">
                                                        欢迎向CO-SENSE投稿，CO-SENSE是一个自由的平台，我们接受一切有创意、好玩的新鲜事和人,如果您的身边有符合我们内容的事和人，请和我们联系；投稿一旦采用，我们将以特别的方式回报给投稿人。
                                                    </div>
                                                    <div class="l-op2"><a>查看所有职位<img src="__IMG__/link_icon.png"></a></div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="abu_mod2 scrollBox">
                                        <div class="abu_mod3_c">
                                                    <div class="mga_1220 clearfix">
                                                                <div class="fl tit_img1">
                                                                                <img src="__IMG__/abu_title5.png">
                                                                </div>
                                                                <div class="fl w-md272-bg">
                                                                            <div class="h1_tit">CO-SENSE平台《法律申明》</div>
                                                                            <div class="op">
                                                                                        1. 站酷（ZCOOL）会员所发布展示的【原创作品】【原创文章】等原创内容，版权由作者解释，任何商业用途均须联系原作者。临摹作品，同人作品原型版权归原作者所有。
                                                                                        原创内容的发布者必须确保其拥有发布内容的全部原创版权，或已经获得版权所有者及相关法律的授权，且不得侵犯他人著作权，肖像权，商标权等，不违背商业保密协议。站酷（ZCOOL）默认所有原创类的内容的发布者已经获得发表、演绎等版权授权，并在此基础上进行编辑、推荐、推广。若因发布内容产生法律纠纷，全部责任在于用户本人，站酷（ZCOOL）不承担任何法律责任。
                                                                            </div>
                                                                            <div class="op">
                                                                                            参与共同维权。
                                                                            </div>
                                                                            <div class="op">
                                                                                                4. 在未得到著作权人的授权时，也请不要将他人的作品全部或部分复制发表到站酷（ZCOOL），如转载站外信息到站酷（ZCOOL）请署名和注明出处。
                                                                            </div>
                                                                            <div class="op">
                                                                                5. 如个人或单位发现站酷（ZCOOL）上存在侵犯其自身合法权益的内容，请及时与站酷（ZCOOL）取得联系，并提供具有法律效应的证明材料，以便站酷（ZCOOL）作出处理。站酷（ZCOOL）有权根据实际情况删除相关的内容，并追究相关用户的法律责任。给站酷（ZCOOL）或任何第三方造成损失的，侵权用户应负全部责任。
                                                                            </div>
                                                                            <div class="op">
                                                                                6. 站酷（ZCOOL）会员在 “设计素材”栏目，所分享并提供下载的【设计资源】（包括素材、软件、工具等），
                                                                            </div>
                                                                            <div class="mgt80-ctn">
                                                                                            <img src="__IMG__/logos.jpg">
                                                                            </div>
                                                                </div>
                                                    </div>
                                        </div>
                            </div>
                            <div class="clear" style=" width: 100%; height: 0px; overflow: hidden; clear: both;"></div>
                </div>

            </div>
</div>
<!--中部end-->

<!-- 左边菜单部分 -->
<include file="layout/left_menu" />

<!--menu end-->
<!--登录-注册-忘记密码-->
<div class="dz-mod">
    <div class="plr-auto clearfix">
        <div class="box-left">
            <div class="text-area">
                        <p class="no16-ff">如果您对我们的平台内容感兴趣，想分享一些有趣的作品和资源给大家，想玩得更嗨、更有范儿，在cosense平台上获得更多的权益..</p>
                        <a class="btn-wid js_regBtn" href="javascript:void(0);">注册</a>
            </div>
        </div>
        <div class="box-right">
            <!--登录-->
            <form method="post" action="./Public/account_login">
                <div class="login_box js_loginBox">
                    <div class="input-box">
                        <input class="input" name="account" type="text" placeholder="输入手机号或者邮箱">
                    </div>
                    <div class="input-box">
                        <input class="input"  name="password" type="password" placeholder="输入密码">
                    </div>
                    <div class="t-r-text"><a  href="javascript:void(0);">忘记密码?</a></div>
                    <div class="mgt-ato clearfix">
                        <button class="btn-wid fl bor-f7b932" type="submit">登录</button>
                        <div class="footer_icon fr mgt8">
                            <a href="#" class="iconfont icon-facebook"></a>
                            <a href="#" class="iconfont icon-qq"></a>
                            <a href="#" class="iconfont icon-weibo"></a>
                            <a href="#" class="iconfont icon-twitter"></a>
                        </div>
                    </div>
                </div>
            </form>
            <!--注册-->
            <form method="post" action="{:U('Public/first_validate_reg')}">
                <div class="register_box js_register_box" style="display: none">
                    <div class="input-box">
                        <input id="AAA" class="input" name="account" type="text" placeholder="输入手机账号或邮箱">
                        <span id="BBB" style="display:block;" class="error">此账号已被注册！</span>
                    </div>
                    <div class="clearfix" style="margin-top: 30%">
                        <button class="btn-wid fl bor-f7b932 js_next_reg-1" type="submit" >下一步</button>
                        <div class="fl youts">已有账户，<a href="javascript:void(0);">返回登录</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 登录注册部分 -->
<include file="layout/login" />
<!-- 尾部部分 -->
<!--<include file="layout/footer" />-->
<!-- 尾部js部分 -->
<!-- <include file="layout/footer_js" /> -->

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.mousewheel.js"></script>
<script type="text/javascript" src="__JS__/jquery.prompt.js"></script>
<!-- <script type="text/javascript" src="__JS__/common.js"></script> -->

<script type="text/javascript" src="__JS__/slider.js"></script>
<!-- <script type="text/javascript" src="__JS__/index.js"></script> -->
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        get_reward_html();//修改密码弹出框

        get_order_login();//获取第三方登录地址

        $.ajax({
            url: "{:U('Public/VerCode?type=pc&t=" + (new Date()).getTime() + "')}", // 加随机数防止缓存
            type: "get",
            dataType: "json",
            success: function (data) {
                // 使用initGeetest接口
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    product: "float",
                    offline: !data.success
                }, handlerEmbed);
            }
        });
        var handlerEmbed = function (captchaObj) {
            // 将验证码加到id为captcha的元素里
            captchaObj.appendTo("div#embed-captcha");
            captchaObj.onReady(function () {
                $("#embed-wait").hide();
            });
        };
        // $("img.limg").load(function() {
        //       var _this = $(this),
        //       imgh = this.height,
        //       h = _this.parents("div.slideBox").height();
        //       _this.css("top",-(imgh-h)/2);
        // })
    });

    // $(window).load(function() {
    //      $("img.limg").each(function() {
    //           var _this = $(this),
    //           imgh = this.height,
    //           h = _this.parents("div.slideBox").height();
    //           _this.css("top",-(imgh-h)/2);
    //     });
    // });
    $(function(){
        var t_img; // 定时器
        var isLoad = true; // 控制变量
        var tmp = 0;
        // 判断图片加载状况，加载完成后回调
        isImgLoad(function(){
            // 加载完成
        });
        // 判断图片加载的函数
        function isImgLoad(callback){
            // 注意我的图片类名都是cover，因为我只需要处理cover。其它图片可以不管。
            // 查找所有封面图，迭代处理
            $("img.limg").each(function(){
                // 找到为0就将isLoad设为false，并退出each
                if(this.height === 0){
                    isLoad = false;
                    return false;
                }else{
                    var _this = $(this),
                            imgh = _this.height(),
                            h = _this.parents("div.slideBox").height();
                    if(imgh == 0){
                        imgh = tmp;
                    }
                    _this.css("top",-(imgh-h)/2);
                    tmp = imgh;
                }
            });
            // 为true，没有发现为0的。加载完毕
            if(isLoad){
                clearTimeout(t_img); // 清除定时器
                // 回调函数
                callback();
                // 为false，因为找到了没有加载完成的图，将调用定时器递归
            }else{
                isLoad = true;
                t_img = setTimeout(function(){
                    isImgLoad(callback); // 递归扫描
                },20); // 我这里设置的是500毫秒就扫描一次，可以自己调整
            }
        }
        $("a.finearticle_more").on('click',function(){
            var html = "";
            var bid =  parseInt($(this).attr("bid"));
            //此处的bid等于页面需要展示的条数减去每次点击需要展示的条数.
            bid += 32;
            //每次点击展示32条数据.
            $(this).attr("bid",bid);
            var b_id =  parseInt($(this).attr("bid"));
            $.post("{:U('Public/finearticle_more')}",{begin:b_id},function(r){
                if(r.data == ""){
                    $.Prompt(r.msg);
                }else{
                    $.each(r.data,function(ind,val){
                        html +='<li>\
                                <a href="{:U('Choiceness/choice_details')}?id='+val.id+'">\
                                    <div class="img"><img src="'+val.cover_img+'"></div>\
                                    <p class="c-tit"><span class="w_cname jx_titles">'+val.category+'</span></p>\
                                      <div class="yc_h"><p class="c-text">'+val.intro+'</p></div>\
                                </a>\
                            </li>';
                    })
                    $("ul.list_finearticle").append(html);
                }
            },'json')
        });
        $("a.original_more").on('click',function(){
            var html = "";
            var bid =  parseInt($(this).attr("bid"));
            //此处的bid等于页面已有的条数减去每次点击需要展示的条数.
            bid += 32;
            //每次点击展示32条数据.
            $(this).attr("bid",bid);
            var b_id =  parseInt($(this).attr("bid"));
            var url = "{:U('/Original/original_detail1')}";
            $.post("{:U('Public/original_more')}",{begin:b_id},function(r){
                if(r.data == ""){
                    $.Prompt(r.msg);
                }else{
                    $.each(r.data,function(ind,val){
                        html +='<li>\
                                <a href="{:U('Original/original_detail1')}?oid='+val.id+'">\
                                    <div class="img"><img src="'+val.cover_curimg+'"></div>\
                                    <div class="c-tit">\
                                        <span class="w_cname">'+val.flf_name+'</span>\
                                        <span  class="ejfl_name">'+val.tlf_name+'</span>\
                                    </div>\
                                      <div class="yc_h"><p class="c-text clamp1">'+val.title+'</p>\
                                    <p class="text_czz">创作者：<span class="h">'+val.nickname+'</span></p></div>\
                                </a>\
                        </li>';
                    })
                    $("ul.list_original").append(html);
                }
            },'json')
        });
        $("a.activity_more").on('click',function(){
            var html = "";
            var bid =  parseInt($(this).attr("bid"));
            //此处的bid等于页面已有的条数减去每次点击需要展示的条数.
            bid += 32;
            //每次点击展示32条数据.
            $(this).attr("bid",bid);
            var b_id =  parseInt($(this).attr("bid"));
            $.post("{:U('Public/activity_more')}",{begin:b_id},function(r){
                if(r.data == ""){
                    $.Prompt(r.msg);
                }else{
                    $.each(r.data,function(ind,val){
                        html +='<li>\
                            <a href="{:U('Activity/active_detail')}?id='+val.id+'">\
                                <div class="img"><img src="'+val.cover_img+'"></div>\
                                <p class="c-tit"><span class="w_cname jx_titles">'+val.category+'</span></p>\
                                  <div class="yc_h"><p class="c-text"><b># '+val.city_name+' #</b>'+val.intro+'</p></div>\
                            </a>\
                        </li>';
                    })
                    $("ul.list_activity").append(html);
                }
            },'json')
        });



    });

function showLft(){
            var flag = true;
              $("div.side-btn").on("click",function(e){
                          e.stopPropagation();
                          if(!flag) return;
                          flag = false;
                          if($(this).hasClass('icon-close')){
                                $("span.show_sc").click();
                                $(this).removeClass('iconfont icon-close');
                                var t4,t5,t6;
                                          t4 = setTimeout(function(){
                                                   $(".menu-title").removeClass('opens');
                                                   t5 = setTimeout(function(){
                                                        clearTimeout(t4);
                                                       $(".menu-list").removeClass('opens');
                                                       t6 = setTimeout(function(){
                                                        clearTimeout(t5);
                                                           $(".menu-fllow").removeClass('opens');
                                                           flag = true;
                                                    }, 0);
                                                }, 200);
                                            }, 200);
                                            clearTimeout(t6);   
                                    //$("nav.menu").removeClass('opens');
                                                setTimeout(function(){
                                                $("nav.menu").removeClass('open');
                                                flag = true;
                                            }, 600);
                          }
                          else{
                                $(this).addClass('iconfont icon-close');
                                        $('.dz-mod').removeClass('open');
                                        if(!$("div.menu-btn-outer").hasClass('stalogi')){
                                $(".menu-btn-outer>div").removeClass('on');
                                }                               
                                $("nav.menu").addClass('open');
                                var t1,t2,t3;
                                          t1 = setTimeout(function(){
                                                   $(".menu-title").addClass('opens');
                                                   t2 = setTimeout(function(){
                                                        clearTimeout(t1);
                                                       $(".menu-list").addClass('opens');
                                                       t3 = setTimeout(function(){
                                                        clearTimeout(t2);
                                                           $(".menu-fllow").addClass('opens');
                                                           flag = true;
                                                    }, 200);
                                                }, 200);
                                            }, 200);
                                            clearTimeout(t3);                                           
                              }
                });
              /*hover***********menu*/
                $("div.menu-left div.menu-list ul li a").on('mouseenter',function(e) {
                	
                          e.stopPropagation();
                          $("a.hover").removeClass('hover');
                          $(this).addClass('hover');
                          $("#"+$(this).parent().attr("class")).addClass('showm').siblings().removeClass('showm');
                });
                //menu-btn登录出现
                $("span.menu-search").on("click",function(e){
                    e.stopPropagation();
                    var _this = $(this);
                    $(this).toggleClass('show_sc');
                    $("#menu0").toggleClass('show_sc');
                });
                $("div.menutop").on('mouseleave',function(e) {
                          e.stopPropagation();
                          if($(this).parents("menutop").length > 0){
                               return;
                          }else{
                              $("a.hover").removeClass('hover');
                              $(".showm").removeClass('showm');
                          }
                });
                //menu-btn登录出现
                $("div.menu-btn,div.menu-btn1").on("click",function(e){
                    e.stopPropagation();
                    var _this = $(this);
                    if($("div.side-btn").hasClass('icon-close')){
                        $("div.side-btn").click();
                    }
                    if(_this.hasClass('menu-btn1')){
                        _this.removeClass('on');
                        setTimeout(function(){
                            _this.prev().removeClass('on');
                        },0);
                    }else{
                         _this.addClass('on');
                          setTimeout(function(){
                            _this.next().addClass('on');
                        },0);
                    }
                    if($(this).hasClass('on')){
                        $(".dz-mod").addClass('open');
                                $('.text-area').show();
                                $('.js_popBox').hide();
                                $('.js_popBox.js_loginBox').show();
                                $(".js_emailRegSuc_jhuo").hide();
                    }else{
                        $(".dz-mod").removeClass('open');
                    }
                });
        }

        showLft();
function toFooter(){
            function getStyle(el) {
                                return document.defaultView &&document.defaultView.getComputedStyle ?document.defaultView.getComputedStyle(el, '') : el.currentStyle;
                     }
                     function getOffset(el) {
                                 var _t = 0, _l = 0;
                                 while (el.offsetParent) {
                                               _t += el.offsetTop;
                                               _l += el.offsetLeft;
                                               el = el.offsetParent;
                                  }
                                  return [_t, _l];
                     }
                     var domHeight = document.body.clientHeight || document.documentElement.clientHeight;
                     $("p.frame-bottom_down").click(function(){
                window.scrollTo(0,domHeight);
                $("p.frame-bottom_up").addClass('on').find("a").addClass('bottoms');
                         $("p.frame-bottom_down").removeClass('on');
            });

                     /*返回顶部*/
            $(document).on('click', '.frame-bottom_up', function(event) {
                         event.preventDefault();
                         $("p.frame-bottom_up").removeClass('on').removeClass('bottoms');
                         $("p.frame-bottom_down").addClass("on");
                         $(document).scrollTop(0);
            });
            window.onscroll = function(){
                         var _t = document.documentElement.scrollTop || document.body.scrollTop;
                         var documentHeight = document.body.clientHeight || document.documentElement.clientHeight;
                         if (window.innerHeight)
                                      var winHeight = window.innerHeight;
                         else if ((document.body) && (document.body.clientHeight))
                                      var winHeight = document.body.clientHeight;
                         var dh = documentHeight - winHeight;
                         if(_t >= dh){
                                      $("p.frame-bottom_up").addClass('on').find("a").addClass('bottoms');
                                      $("p.frame-bottom_down").removeClass('on');
                                      //console.log("到底部了");
                         }else{
                                      $("p.frame-bottom_up").removeClass('on').removeClass('bottoms');
                                      $("p.frame-bottom_down").addClass("on");
                         }     
            }
        }
        toFooter();
    /**
     *
     *
     *******/
    $('#mailComplete,#mailComplete1').keydown(function(e){
        if(e.keyCode==13){
            login_action();
        }
    });
    $('#mailComplete2').keydown(function(e){
        if(e.keyCode==13){
            $(this).parents("#reg_mobile_pop").find("button.js_next_reg-1").click();
        }
    });
    $(function(){
        /*$(".js_abu_tabBtn a").on('mouseenter',function(){
             var _index = $(this).index();
            $(this).addClass('curr').siblings().removeClass('curr');
            $(".js_contentModAbout>div").hide().eq(_index).show();
        });*/
        //遍历控制按钮个数及索引
        var scrollCtrBox=$(".js_abu_tabBtn"),
            scrollCtrLink="",
            scrollHeight=0,
            bodyScrollTop=0,
            headerHeight=$(".header").height(),
            scrollContItems=$(".scrollBox");
            var bg=["#f00","#0f0","00f","#fff","ff0","#f0f"];
            scrollContItems.each(function(i,items){
            	var index=i+1;
            	$(this).attr("id","data_scroll_"+index);
            	//$(this).css({"background":bg[i],"height":$(this).outerHeight(),"overflow":"hidden"});
            	scrollCtrLink+='<a href="#data_scroll_'+index+'" data-index="'+index+'"></a>';
            	
            });
             scrollCtrBox.empty().append(scrollCtrLink).css({
            	"position":"fixed",
            	"margin-top":-scrollCtrBox.height()/2
            }).find("a:first").addClass("curr");
            
            var subNav_scroll = function(target){
			            var subNav_active = scrollCtrBox.find("a.curr");
			              	subNav_active.removeClass("curr");
							target.addClass("curr");
							subNav_active = target;
						};
            $(window).scroll(function(){
            	bodyScrollTop=$(this).scrollTop();
            	scrollHeight=0;
            	scrollContItems.each(function(i,items){
            		if(i==0){
            			scrollHeight+=$(this).outerHeight();
            		}else{
            			scrollHeight+=$(this).outerHeight();
            		};
	            	if(bodyScrollTop>=scrollHeight-$(this).outerHeight()-headerHeight && bodyScrollTop<scrollHeight){
	            		var index=i+1,
	            		    goid=scrollCtrBox.find("a[href='#data_scroll_"+index+"']");
							if(goid&&goid.size()){
								subNav_scroll(goid);
							}
	            	}
            	});
            });
             scrollCtrBox.on("click","a",function(){
            	var _this=$(this),$_thisId="data_scroll_"+$(this).attr("data-index");
            	scrollHeight=0;
            	scrollContItems.each(function(i,items){
					if(i==0){
						 scrollHeight+=$(this).outerHeight();
					}else{
						scrollHeight+=$(this).outerHeight();
					};
					 if($(this).attr('id')==$_thisId){
					 	scrollHeight=scrollHeight-$(this).outerHeight()+(headerHeight/3);
					 	return false;
					 }
				});
            	$("body").stop().animate({scrollTop:scrollHeight},800,function(){
					subNav_scroll(_this);
				});
            	return false;
            });
           
    })
</script>
