<!-- 头部部分 -->
<include file="layout/header" />
<!-- 上中下部分 -->
<include file="layout/szx_layout" />

<!--中部内容-->
<div class="wrap">
    <div class="site-content">
        <!--栏目标题-->
        <div class="column cloz">
            <img src="__IMG__/img/o_title.jpg">
        </div>
        <!--内容列表-->
        <div class="list_box pt70">
            <ul class="list-ul clearfix">
               <li>
                   <a href="original_detail1.html">
                       <div class="img"><img width="450" height="300" src="__IMG__/img/img08.jpg"></div>
                       <div class="c-tit">
                           <span class="w_cname">DESIGN</span>
                           <a href="javascript:;">平面设计</a>
                           <span class="xg">/</span>
                           <a href="javascript:;">插画设计</a>
                           <span class="xg">/</span>
                           <a href="javascript:;">涂鸦</a>
                       </div>
                         <div class="yc_h"><p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                       <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p></div>
                   </a>

                </li>
                <li>
                    <a href="original_detail1.html">
                        <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                        <div class="c-tit">
                            <span class="w_cname">DESIGN</span>
                            <a href="javascript:;">平面设计</a>
                            <span class="xg">/</span>
                            <a href="javascript:;">插画设计</a>
                            <span class="xg">/</span>
                            <a href="javascript:;">涂鸦</a>
                        </div>
                        <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                        <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                    </a>

                </li>
                <li>
                    <a href="original_detail1.html">
                        <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                        <div class="c-tit">
                            <span class="w_cname">DESIGN</span>
                            <a href="javascript:;">平面设计</a>
                            <span class="xg">/</span>
                            <a href="javascript:;">插画设计</a>
                            <span class="xg">/</span>
                            <a href="javascript:;">涂鸦</a>
                        </div>
                        <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                        <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                    </a>

                </li>
                <li>
                    <a href="original_detail1.html">
                        <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                        <div class="c-tit">
                            <span class="w_cname">DESIGN</span>
                            <a href="javascript:;">平面设计</a>
                            <span class="xg">/</span>
                            <a href="javascript:;">插画设计</a>
                            <span class="xg">/</span>
                            <a href="javascript:;">涂鸦</a>
                        </div>
                        <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                        <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                    </a>

                </li>
                <li>
                    <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
                <li>
                    <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
                <li>
                    <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
                <li>
                    <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
                <li>
                    <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
                <li>
                   <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
                <li>
                   <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
                <li>
                    <div class="img"><img src="__IMG__/img/img08.jpg"></div>
                    <div class="c-tit">
                        <span class="w_cname">DESIGN</span>
                        <a href="javascript:;">平面设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">插画设计</a>
                        <span class="xg">/</span>
                        <a href="javascript:;">涂鸦</a>
                    </div>
                    <p class="c-text clamp1">他用世界上仅存三台的宝丽来，为自己的爱犬 拍摄了45年图片</p>
                    <p class="text_czz">创作者：<span class="h">Lola Dupre</span></p>
                </li>
            </ul>
            <div class="c-more mb140"><a href="javascript:;">MORE</a></div>
        </div>
    </div>
</div>
<!--中部内容end-->
<!-- 左边菜单部分 -->
<include file="layout/left_menu" />
<!-- 登录注册部分 -->
<include file="layout/login" />
<!-- 尾部部分 -->
<include file="layout/footer" />
<!-- 尾部js部分 -->
<include file="layout/footer_js" />
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
$(document).ready(function() {
          $.ajax({
            url: "{:U('Public/VerCode?type=pc&t=" + (new Date()).getTime() + "')}", // 加随机数防止缓存
            type: "get",
            dataType: "json",
            success: function (data) {
                // 使用initGeetest接口
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    product: "float",
                    offline: !data.success
                    }, handlerEmbed);
                }
            });
            var handlerEmbed = function (captchaObj) {
                 // 将验证码加到id为captcha的元素里
                 captchaObj.appendTo("div#embed-captcha");
                 captchaObj.onReady(function () {
                    $("#embed-wait").hide();
                 });
             };
    });
       coSense.loader.init(false); 
       coSense.loader.originalJS();
        coSense.loader.toFooter();
        proing();
</script>
</html>