<!-- 头部部分 -->
<include file="layout/header" />
<!--头部结束-->
<!-- 上中下部分 -->
<include file="layout/szx_layout" />
<style type="text/css">
        #share a{
            background: none;
        }
         #share a{
            display: inline-block;
            width: 33px;
            height: 33px;
            background-color: #c2c2c3;
            border-radius: 50%;
            text-align: center;
            line-height: 31px;
            color: #fff;
            margin-right: 8px;
            padding: 0;
            margin-left: 0;
        }
        #share a:hover{
            text-decoration:none;
            background-color:#c2c2c3;
        }
        .bsTop{
            width:208px !important;
        }
        .bsFrameDiv div{
            width:208px !important;
            height:208px !important;
        }
        #cname{
            max-height: 160px;
            border: 1px solid #cbcbcb;
            display: none;
            overflow-wrap: normal;
            padding: 0;
            margin-top: 20px;
        }
        .con{
            display: none;
            padding: 0;
        }
        .con2{
            display: block;
            padding: 0;
            padding-left: 8px;
            position: relative;
        }
        .selDown{
            position: absolute;
            right: 2px;
            top: 56px;
            width: 28px;
            height: 34px;
            display: none;
            background: url("__PUBLIC__/Home/images/down.jpg") right no-repeat;
            cursor: pointer;
        }
        p.opt{
            height: 32px;
            line-height: 32px;
            padding-left: 8px;
        }
        p.opt:hover{
            background-color: #fab708;
        }
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IDvNBsejl9oqMbPF316iKsXR"></script>
<?php 
    if(session('user.uid')) {
        $is_login = 1;
    }else{
        $is_login = 0;
    }
?>
<!--中部内容-->
<div class="wrap">
    <div class="site-content bgf0">
        <!--栏目标题-->
        <div class="column">
            <img src="__IMG__/img/detail_bg1.jpg">
        </div>
        <div class="clearfix mgt-auto85">
            <div class="info_content1 mgt-305">
                <volist name="info" id="vo">
                    <div class="t-no20">{$vo.category}</div>
                    <div class="act_tit">{$vo.title}</div>
                    <div class="tag_mod clearfix" style="margin-top: 30px;max-width: none">
                        <div class="fl">
                            <foreach name="tags" item="tag">
                                <i><a href="{:U('Activity/activity_tags')}?id={$tag[0][id]}">{$tag[0][tname]}</a></i>&nbsp;
                            </foreach>
                        </div>
                        <div id="share">
                        <div class="footer_icon mgt-4 fr bshare-custom">
                            <!-- <a href="#" class="iconfont icon-facebook"></a>
                            <a href="#" class="iconfont icon-twitter"></a>
                            <a href="#" class="iconfont icon-in"></a>
                            <a href="#" class="iconfont icon-weixin"></a>
                            <a href="#" class="iconfont icon-weibo"></a> -->
                            <a title="分享到QQ" class="iconfont icon-qq bshare-qqim" href="javascript:void(0);"></a>
                            <a title="分享到微信" class="iconfont icon-weixin bshare-weixin" href="javascript:void(0);"></a>
                            <a title="分享到新浪微博" class="iconfont icon-weibo bshare-sinaminiblog" href="javascript:void(0);"></a>
                        </div>
                    </div>
                    </div>
                    <div class="act-text-c">
                        {$cnt}
                    </div>
                    <div class="c-more collection">
                        <eq name="collectioned" value="0">
                            <a href="javascript:;" type="0" id="js_collectionBtn">COLLECTION</a>
                        <else/>
                            <a href="javascript:;" type="1" id="js_collectionBtn">CANCEL</a>
                        </eq>
                    </div>
                    <ul class="pho-list clearfix" style="margin-top: 26px">
                    	
                        <volist name="user_avatar" id="avatar">
                            <li ids="{$avatar['id']}"><img src="{$avatar[avatar]}" style="width:70px;height:70px;"></li>
                        </volist>
                        <?php if($avatar){ ?>
                            <li class="t">已收藏该活动</li>
                        <?php } ?>
                    </ul>
                </volist>
                <!-- 活动评论 -->
            <div id="comment_cnt" class="x_mgt60"></div>
        </div>
            <div class="fr_detail-mod">
                <div class="act-map" id="allmap">

                </div>
                <div class="info_div">
                    <div class="mgt42 clearfix">
                        <div class="act_adr_icon"></div>
                        <div class="adr_tex fl">
                            {$info[0]['addr_detail']}
                        </div>
                    </div>
                    <div class="mgt30 clearfix">
                        <div class="act_time_icon"></div>
                        <div class="clearfix fl">
                            <div class="adr_tex">
                                <span>活动时间:</span>{$info[0]['active_stime']}-{$info[0]['active_etime']}
                            </div>
                        </div>
                    </div>
                    <div class="mgt30 clearfix">
                        <div class="act_money_icon"></div>
                        <div class="adr_tex fl">
                            ￥{$info[0]['active_money']}
                        </div>
                    </div>
                    <div class="mgt30 clearfix">
                        <div class="act_phone_icon"></div>
                        <div class="adr_tex fl">
                            {$info[0]['active_link']}
                        </div>
                    </div>
                    <div class="c-more" style="margin-top: 75px"><a href="{$info.0.to_url}" target="_blank">ATTEND</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--收藏-->
<div class="pop_box change_collection orgin_collection">
        <div class="pop_box_mod">
            <div class="pop_head">
                <a class="close_pop" href="javascript:void(0);"></a>
            </div>
            <div class="mgh350">
                 <input class="w258 create_input" type="text" placeholder="创建新收藏夹">
                <a class="setupBtn" href="javascript:void(0);">创建</a>
                <div id="cname" class="s-opetion">
                    <div class="con">
                              <volist name="names" id="na">
                                    <p class="opt" value="{$na.id}">{$na.collection_table_name}</p>
                              </volist>
                    </div>
                    <div class="con2"></div>  
                    <div class="selDown"></div>  
                </div>
            <a class="pop_okBtn confirm_change" style="position:absolute; left:105px;top:155px" href="javascript:void(0);">确认</a>
        </div>
    </div>
</div>
<!--中部内容end-->
<!-- 左边菜单部分 -->
<include file="layout/left_menu" />

<!-- 登录注册部分 -->
<include file="layout/login" />
<style>
    .js_tow_get_more{
        width: 100%;
        height: 20px;
        background: url("__PUBLIC__/Home/images/icon_down.png") center no-repeat #eee;
    }

    .js_tow_get_more_over{
        width: 100%;
        height: 20px;
        background: url("__PUBLIC__/Home/images/icon_up.png") center no-repeat #eee;
    }
</style>
<!-- 尾部js部分 -->
<include file="layout/footer_js" />
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<script type="text/javascript">

    var address={:json_encode($info[0]['addr_detail'])};
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.331398,39.897445);
    map.centerAndZoom(point,12);
    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint(address, function(point){
        if (point) {
            map.centerAndZoom(point, 16);
            map.addOverlay(new BMap.Marker(point));
        }else{
            alert("您选择地址没有解析到结果!");
        }
    });

    initMap();////创建和初始化地图




    var is_login = {$is_login};
$(document).ready(function() {
          $.ajax({
            url: "{:U('Public/VerCode?type=pc&t=" + (new Date()).getTime() + "')}", // 加随机数防止缓存
            type: "get",
            dataType: "json",
            success: function (data) {
                // 使用initGeetest接口
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    product: "float",
                    offline: !data.success
                    }, handlerEmbed);
                }
            });
            var handlerEmbed = function (captchaObj) {
                 // 将验证码加到id为captcha的元素里
                 captchaObj.appendTo("div#embed-captcha");
                 captchaObj.onReady(function () {
                    $("#embed-wait").hide();
                 });
             };
    });
    coSense.loader.init(false);
     coSense.loader.toFooter();
    proing();
    $.get("{:U('Comment/com_lst')}",{id:<?php echo I('param.id','',false); ?>,type:3},function(str){
        $('#comment_cnt').html(str);
    });
</script>
<script type="text/javascript">
    $(function(){
        var id = "{:I('id', 1)}";
        var type = "{:I('type', 3)}";
        //展开二级评论框
        $(document).on('click',".js_commentBtn",function(){
            var $this = $(this);
            var uid = $this.attr('myuid');
            var pid = $this.attr('pid');
            var zxpid = $this.attr('zxpid');

            $this.toggleClass('add');
            var $sendHtml = '<div class="comSendMod">' +
                    '<textarea class="textarea_info"></textarea> ' +
                    '<div class="mgt30-tr"> <a class="plh_Btn js_sendBtn curr" touid="'+uid+'" pid="'+pid+'" zxpid="'+zxpid+'" href="javascript:void(0);">SEND</a></div></div>';
            if($this.hasClass('add')){
                $this.parent().parent().children(".js_comSendMod").html($sendHtml);
            }
            else{
                $this.parent().parent().children(".js_comSendMod").html('');
            }
        });
            
        $(document).on('keyup','.textarea_info',function(){
                if($(this).val() != '') {
                    $(this).siblings('div .mgt30-tr').eq(0).find('a').removeClass('curr')
                }else{
                    $(this).siblings('div .mgt30-tr').eq(0).find('a').addClass('curr')
                }
        });

        //发送评论
        $(document).on('click','.js_sendBtn',function(){
            if($(this).hasClass('wdl')){
                $.Prompt("请先登录!")
                return;
            }
            var touid = $(this).attr('touid');  
            var $val = $(this).parent().prev('textarea').val();
            var pid = $(this).attr('pid');
            var zxpid = $(this).attr('zxpid');
            var cnt_ctrol = $(this).parent().prev('textarea');

            var $temp = $(this).closest('.js_comSendMod').parent().children('.pal-r0').find('.js_commentBtn');
            var thisf = $(this);
            var $zanNum = parseInt($temp.text());
            var $html = '';

            if($val == ''){
                $.Prompt('评论内容不能为空！');
                return false;
            }else{
                $.post("{:U('Comment/add_comment')}",{aid:id,type:type,to_uid:touid,pid:pid,zx_pid:zxpid,cnt:$val}, function(r){
                    if(r.code == 0) {
                        //一级评论
                        if(pid == 0) {
                            var str =   '<li class="topli"><div class="pal-r0">\
                                            <a class="zan_listBtn js_thumbsBtn" href="javascript:void(0);" ids="'+r.data.id+'">0</a>\
                                            <a class="pingl_listBtn js_commentBtn" myuid="'+r.data.uid+'" pid="'+r.data.id+'" zxpid="'+r.data.id+'" href="javascript:void(0);">0</a>\
                                        </div>\
                                        <div class="info_photo"><img src="'+r.data.avatar+'"></div>\
                                        <div class="info_title">'+r.data.nickname+'</div>\
                                        <div class="info_time">'+r.data.time+'</div>\
                                        <div class="info_txt">'+r.data.cnt+'</div>\
                                        <div class="js_comSendMod">\
                                        </div><ul class="list_ul_tow"></ul></li>';

                            $('.news_d').prepend(str);
                            cnt_ctrol.val('');
                        //次级评论
                        }else{
                            var str = '<li>\
                                <div class="pal-r0">\
                                    <a class="zan_listBtn js_thumbsBtn" href="javascript:void(0);" ids="'+r.data.id+'">0</a>\
                                    <a class="pingl_listBtn js_commentBtn" myuid="'+r.data.uid+'" pid="'+r.data.id+'" zxpid="'+r.data.id+'" href="javascript:void(0);">0</a>\
                                </div>\
                                <div class="info_photo"><img src="'+r.data.avatar+'"></div>\
                                <div class="info_title">'+r.data.nickname+'</div>\
                                <div class="info_time">'+r.data.time+'</div>\
                                <div class="info_txt">@'+r.data.to_nickname+'：'+r.data.cnt+'</div>\
                                <div class="js_comSendMod">\
                                </div>\
                            </li>';

                            thisf.parents('li.topli').find('.list_ul_tow').append(str);
                        }

                        $temp.text($zanNum+1);
                        thisf.closest('.js_comSendMod').html('');
                    }else{
                        $.Prompt(r.msg)
                    }
                },'json')
            }
        });

        //点赞js_thumbsBtn
        $(document).on('click','.js_thumbsBtn',function(){
            var id = $(this).attr('ids');
            var thisf = $(this);

            if(is_login == 0) {
                $.Prompt('请先登录');
                return false;
            }

            $.get("{:U('Comment/com_praise')}", {id:id}, function(r){
                if(r.code == 1) {
                    var $num = parseInt(thisf.text());
                    $num += 1;
                    thisf.text($num);
                    
                    thisf.css("background","url('/Public/Home/images/zan2_icon.png') no-repeat");
                    thisf.attr("data-index","1");
                }else{
                    var $num = parseInt(thisf.text());
                    $num -= 1;
                    thisf.text($num);
                    
                    thisf.css("background","url('/Public/Home/images/zan_icon.png') no-repeat");
                    thisf.attr("data-index","0");
                }
            },'json')
        });

        //加载更多一级评论及其下的多级评论
        $(document).on('click','.js_get_more',function(){
            var thisf = $(this);
            var nowpage = (parseInt(thisf.attr('nowpage'))+1);
            var is_more = (parseInt(thisf.attr('ismore')));
            if(is_more == 0) return false; 

            $.get("{:U('Comment/com_lst')}", {id:id, type:type, page:nowpage, return_type:2}, function(r){
                if(r.code == 0) {
                    //1、当前page + 1
                    thisf.attr('nowpage', nowpage);

                    //2、分配获取到的数据
                    if(parseInt(r.data.length) != 0) {
                        var str = "";
                        $.each(r.data,function(n,v) {
                            str += '<li><div class="pal-r0"><a class="zan_listBtn js_thumbsBtn" href="javascript:void(0);" ids="'+v.id+'">'+v.praise_nums+'</a><a class="pingl_listBtn js_commentBtn" myuid="'+v.uid+'" pid="'+v.id+'" zxpid="'+v.id+'" href="javascript:void(0);">'+v.com_nums+'</a></div><div class="info_photo"><img src="'+v.avatar+'"></div><div class="info_title">'+v.nickname+'</div><div class="info_time">'+v.time+'</div><div class="info_txt">'+v.cnt+'</div><div class="js_comSendMod"></div>';
                                
                            if(parseInt(v.son_lst.length) != 0) {
                                str += '<ul class="list_ul_tow">';
                                $.each(v.son_lst,function(nn,vv) {
                                    str += '<li><div class="pal-r0"><a class="zan_listBtn js_thumbsBtn" href="javascript:void(0);" ids="'+vv.id+'">'+vv.praise_nums+'</a><a class="pingl_listBtn js_commentBtn" myuid="'+v.uid+'" pid="'+vv.id+'" zxpid="'+v.id+'" href="javascript:void(0);" >'+vv.com_nums+'</a></div><div class="info_photo"><img src="'+vv.avatar+'"></div><div class="info_title">'+vv.nickname+'</div><div class="info_time">'+vv.time+'</div><div class="info_txt">@'+vv.to_nickname+':'+vv.cnt+'</div><div class="js_comSendMod"></div></li>';
                                })
                                str += '</ul>';

                                if(parseInt(v.son_lst_count) > 10) str += '<div class="more_pl js_tow_get_more" nowpage="1" ismore="1" fid="'+v.id+'"><a></a></div>';
                            }
                            str += '</li>';
                        });

                        $('.news_d').append(str);
                    }else{
                        thisf.attr('ismore', 0);
                        thisf.css('background', '#c9c9c9');
                        thisf.find('a').html('NO MORE');
                    }
                }else{
                    $.Prompt('系统错误!');
                }
            },'json')
        }); 

        //加载更多的二级评论
        $(document).on('click','.js_tow_get_more',function(){
            var thisf = $(this);
            var id = thisf.attr('fid');
            var nowpage = (parseInt(thisf.attr('nowpage'))+1);
            var is_more = (parseInt(thisf.attr('ismore')));

            $.get("{:U('Comment/son_lst')}", {id:id, page:nowpage}, function(r){
                thisf.attr('nowpage', nowpage);
                if(parseInt(r.data.length) != 0) {
                    var str = '';
                    $.each(r.data,function(n,v) {
                        str += '<li><div class="pal-r0"><a class="zan_listBtn js_thumbsBtn" href="javascript:void(0);" ids="'+v.id+'">'+v.praise_nums+'</a><a class="pingl_listBtn js_commentBtn" myuid="'+v.uid+'" pid="'+v.id+'" zxpid="'+id+'" href="javascript:void(0);" >'+v.com_nums+'</a></div><div class="info_photo"><img src="'+v.avatar+'"></div><div class="info_title">'+v.nickname+'</div><div class="info_time">'+v.time+'</div><div class="info_txt">@'+v.to_nickname+':'+v.cnt+'</div><div class="js_comSendMod"></div></li>';
                    })

                    thisf.prev('.list_ul_tow').eq(0).append(str);
                }else{
                    $('.js_tow_get_more').addClass('js_tow_get_more_over');
                    $('.js_tow_get_more').removeClass('js_tow_get_more');
                }
            },'json')
        });
        $("a#js_collectionBtn").on('click', function(event) {
            if(is_login == 0) {
                $.Prompt('请先登录');
                return false;
            }
            event.preventDefault();
            var type = $(this).attr("type");
            var hasOpt = $("div.con .opt").length;
            if(type == 0){
                $("div.orgin_collection").show();
                if(hasOpt > 0){
                            $("div#cname").show();
                            $(".con2").text($("div.con .opt").eq(0).text());
                            $('.con2').attr("value",$("div.con .opt").eq(0).attr("value"));
                            $(".opt").on("click",function(){
                                // $("#con p").removeClass('checked');
                                // $(this).addClass('checked');
                                $('.con2').attr("value",$(this).attr("value"));
                                $(".con").hide();
                                $(".con2").show();
                                $(".con2").text($(this).text());
                                $("a.confirm_change").show();
                        })
                        if(hasOpt > 1){
                                    $(".selDown").show();
                        }else{
                                    $(".selDown").hide();
                        }
                        if($(".con").height() > 160){
                                $("#cname").css("overflow-y","scroll");
                                $("#cname").css("overflow-x","hidden")
                         }
                    }else{
                           $("div#cname").hide();
                    }
            }else{
                $.post("{:U('Activity/del_collectioned')}",{id:<?php echo I('param.id','',false); ?>},function(r){
                    $("a#js_collectionBtn").attr('type',0);
                    $("a#js_collectionBtn").text('COLLECTION');

                    var le = $('.pho-list').find('li');
                    le.each(function(i){
                        if($(this).attr('ids') == r.data.uid) {
                            $(this).remove();
                            return false;
                        }
                    });

                    if($('.pho-list').find('li').length == 1) {
                        $('.pho-list').html('');
                    }
                },'json')
            }
        });
        $("a.close_pop").on('click', function() {
            $("div.orgin_collection").hide();
        });
        $("a.setupBtn").on('click', function() {
                var new_collection =$("input.create_input").val();
                if(new_collection == ""){
                    $.Prompt("收藏夹名称不能为空");
                    return;
                }
                $.post("{:U('Choiceness/choose_collection')}",{collection_table_name:new_collection},function(r){
                        $.Prompt(r.msg);
                        $("input.create_input").val("");
                        var val = r.data[0]['id'];
                        //得到了最新添加的收藏夹id
                        var name = r.data[0]['collection_table_name'];
                        //得到了最新添加的收藏夹名称                     
                        var html = '<p class="opt" value="'+val+'">'+name+'</p>';
                        $(".con").append(html);
                        $(".con2").text(name);
                         $('.con2').attr("value",val);
                        $("#cname").show();
                        $(".con").hide();
                        $(".con2").show();
                        $(".opt").on("click",function(){                            
                                $('.con2').attr($(this).attr("value"));
                                $("a.confirm_change").show();
                                $(".con").hide();
                                $(".con2").show();
                        })
                        if($(".con").height()  > 32){
                                $(".selDown").show();
                        }else{
                                $(".selDown").hide();
                        }
                        if($(".con").height() > 160){
                                $("#cname").css("overflow-y","scroll");
                                $("#cname").css("overflow-x","hidden")
                         }
                },'json')
        });
        $("#con p").on("click",function(event){
            var event = event || window.event;
            event.stopPropagation();
             $('.con2').attr("value",$(this).attr("value"));
             $("a.confirm_change").show();
            $(".con").hide();
            $(".con2").show();
        })
        $(".selDown").on("click",function(){
                $(".selDown").hide();
                $(".con2").hide();
                $(".con").show();
                $("a.confirm_change").hide();
        });
        $(".con2").on("click",function(){
                $(".selDown").hide();
                $(".con2").hide();
                $(".con").show();
                $("a.confirm_change").hide();
        });
        $("input.create_input").on('focus',function(){
            $(".con").hide();
            $(".con2").show();
        });
        // $("a.setupBtn").on('click', function() {
        //     var new_collection =$("input.create_input").val();
        //     if(new_collection == ""){
        //         $.Prompt("收藏夹名称不能为空");
        //         return;
        //     }
        //     $.post("{:U('Activity/choose_collection')}",{collection_table_name:new_collection},function(r){
        //         $.Prompt(r.msg);
        //         $("input.create_input").val("");
        //         var val = r.data[0]['id'];
        //         //得到了最新添加的收藏夹id

        //         var name = r.data[0]['collection_table_name'];
        //         //得到了最新添加的收藏夹名称
                
        //         var html = '<option value="'+val+'">'+name+'</option>';
        //         $("select#cname").append(html);
        //     },'json')
        // });
        $("a.confirm_change").on('click', function() {
            var cid = $('.con2').attr('value');
            $.post("{:U('Activity/collectioned')}",{cid:cid,id:<?php echo I('param.id','',false); ?>},function(r){
                $("div.orgin_collection").hide();
                $("a#js_collectionBtn")[0].innerHTML = "CANCEL";
                $("a#js_collectionBtn").attr('type',1);

                            //添加头像
                var le = $('.pho-list').find('li').length;
                if(le == 0) {
                    var str = '<li ids='+r.data.id+'><img class="pho" src="'+r.data.avatar+'"></li><li class="t">已收藏该活动</li>';
                    $('.pho-list').html(str);
                }else{
                    var str = '<li><img src="'+r.data.avatar+'"></li>';
                    $('.pho-list').append(str);
                }
                $('.pho-list .pho').css({
                	'width':'40px',
                	'height':'40px'
                });
            },'json')
        });
    })
</script>