<script src="http://static.geetest.com/static/tools/gt.js"></script><!-- 头部部分 -->
<include file="layout/header" />
<!--头部结束-->

<!-- 上中下部分 -->
<include file="layout/szx_layout" />
<!--中部内容-->
<div class="wrap">
    <div class="site-content">
        <!--栏目标题-->
    <div class="column cloz">
              <img src="__IMG__/img/o_title1.jpg">
        </div>
        <div class="list_box pt70">
            <ul class="list-ul li-pdb0 clearfix list_activity">
                <volist name="info" id="vo">
                    <li>
                        <a href="{:U('Activity/active_detail')}?id={$vo.id}" target="_blank">
                            <div class="img"><img src="{$vo.cover_img}"></div>
                            <p class="c-tit"><span class="w_cname jx_titles">{$vo.category}</span></p>
                              <div class="yc_h"><p class="c-text"><eq name="vo.city_detail" value=""><b></b><else/><b># {$vo.city_detail} #</b></eq>{$vo.intro}</p></div>
                        </a>
                    </li>
                </volist>
            </ul>
            <div class="c-more mb140" style="max-width: none"><a bid="-16" class="activity_more" href="javascript:;">MORE</a></div>
        </div>
    </div>
</div>
<!--中部内容end-->
<!-- 左边菜单部分 -->
<include file="layout/left_menu" />

<!-- 登录注册部分 -->
<include file="layout/login" />
<!-- 尾部部分 -->
<include file="layout/footer" />
<!-- 尾部js部分 -->
<include file="layout/footer_js" />
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
$(document).ready(function() {
     $("div.p-select").on("click",function(e){
                e.stopPropagation();
                $(this).children('div.item').toggleClass('itemon');
     });
     $("div.p-select span").on("click",function(e){
                $(this).parent().prev().text($(this).text());
     });
          $.ajax({
            url: "{:U('Public/VerCode?type=pc&t=" + (new Date()).getTime() + "')}", // 加随机数防止缓存
            type: "get",
            dataType: "json",
            success: function (data) {
                // 使用initGeetest接口
                // 参数1：配置参数
                // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
                initGeetest({
                    gt: data.gt,
                    challenge: data.challenge,
                    product: "float",
                    offline: !data.success
                    }, handlerEmbed);
                }
            });
            var handlerEmbed = function (captchaObj) {
                 // 将验证码加到id为captcha的元素里
                 captchaObj.appendTo("div#embed-captcha");
                 captchaObj.onReady(function () {
                    $("#embed-wait").hide();
                 });
             };
    });
       coSense.loader.init(false);
       coSense.loader.originalJS();
        coSense.loader.toFooter();
       proing(); 
       $("a.activity_more").on('click',function(){
            var html = "";
            var id = <?php echo I('id') ?>;
            var bid =  parseInt($(this).attr("bid"));
            //此处的bid等于页面已有的条数减去每次点击需要展示的条数.
            bid += 32;
            //每次点击展示32条数据.
            $(this).attr("bid",bid);
            var b_id =  parseInt($(this).attr("bid"));
            $.post("{:U('Activity/activity_tags_more')}",{begin:b_id,id:id},function(r){
                if(r.data == ""){
                    $.Prompt(r.msg);
                }else{
                    $.each(r.data,function(ind,val){
                        html +='<li>\
                                <a href="{:U('Activity/active_detail')}?id='+val.id+'">\
                                    <div class="img"><img src="'+val.cover_img+'"></div>\
                                    <p class="c-tit"><span class="w_cname jx_titles">'+val.category+'</span></p>\
                                      <div class="yc_h"><p class="c-text"><b># '+val.city_name+' #</b>'+val.intro+'</p></div>\
                                </a>\
                            </li>';
                    })
                    $("ul.list_activity").append(html);
                }         
            },'json')

        });
</script>
</html>