<!--底部-->
<div class="footer" id="footer">
    <div class="footer_inner">
        <div class="footer_link clearfix">
            <div class="pwk s1"><a href="{:U('Choiceness/choice')}">SELECTED</a></div>
            <div class="pwk s2"><a href="{:U('Original/original')}">ORIGINAL</a></div>
            <div class="pwk s3"><a href="{:U('Index/index')}"><img src="__IMG__/eye5.gif"></a></div>
            <div class="pwk s4"><a href="{:U('Activity/activity')}">ACTIVITY</a></div>
            <div class="pwk s5"><a href="{:U('/Public/about_us')}">ABOUT US</a></div>
            <div class="footer_copy clearfix">
            <p class="footer_copy_txt">© CO-SENSE 2016 沪ICP备14036895号-1</p>
            <div class="footer_icon fr">
                <a href="javascript:;" class="iconfont icon-weixin"></a>
                <a href="javascript:;" class="iconfont icon-weibo"></a>
            </div>
        </div>
        </div>
    </div>
</div>
<!--底部end-->
</body>
</html>
