<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" itemprop="description" content="文学,打开心灵的世界,遇见另一个你">
    <meta name="keywords" itemprop="keywords" content="文学,打开心灵的世界,遇见另一个你">
    <link rel="stylesheet" href="__CSS__/public.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/style-s.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/style1.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/cropper.css" type="text/css">
    <title>cosense</title>
</head>
<body>
<header class="frame-top header">
	<a href="{:U('/index')}" class="logo iconfont icon-logo"></a>
</header>
